<aside id="sidebar">
  <h3>
    <span class="indicator indicator-main status-offline"></span>
    SHLACK
  </h3>
  <br />

  <h5>CHANNELS</h5>
  <ul class="list-group" id="channels-list"></ul>

  <h5>USERS</h5>
  <ul class="list-group" id="users-list"></ul>
</aside>

<div id="messages"></div>

<div id="message-form">
  <input type="text" class="form-control" id="message-input" />
</div>
